@import "tailwindcss";

@theme {
	--font-primary: "Space Grotesk", sans-serif;

	--color-body-primary: #f2f2f2;

	--color-dark-primary: #151515;
	--color-dark-secondary: #242424;
	--color-dark-overlay: rgba(0, 0, 0, 0.7);

	--color-grey-primary: #d9d9d9;

	--color-danger-primary: #ff6f5b;
	--color-danger-secondary: #db3a24;

	--color-success-primary: #4ee1a0;
	--color-success-secondary: #3ec086;
	--color-success-tertiary: #32b379;

	--color-blue-primary: #6e91ca;
}

/* H1 - Adam Keyes */
.author {
	position: relative;
}

.author::before {
	content: "";
	position: absolute;
	bottom: 5px;
	left: 0;
	z-index: -1;

	width: 100%;
	height: 6px;

	background-color: var(--color-success-primary);
}
/* End of H1 - Adam Keyes */

/* Button Primary */
.btn-primary {
	position: relative;

	transition: color 0.35s 0.4s linear;
}

.btn-primary span {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 2px;

	background-color: #fff;
}

.btn-primary span::before {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	transform: scale(0);
	transform-origin: left;

	width: 100%;
	height: 100%;

	background-color: var(--color-success-primary);

	transition: transform 0.35s linear;
}

.btn-primary:hover,
.btn-primary:active {
	color: var(--color-success-primary);
}

.btn-primary:hover span::before,
.btn-primary:active span::before {
	transform: scale(1);
}
/* End of Button Primary */

/* Skills Section */

.grid-skills {
	display: grid;

	grid-template-columns: repeat(3, 1fr);

	column-gap: 30px;
	row-gap: 58px;
}

/* End of Skills Section */

/* Projects Section */
.grid-projects {
	display: grid;

	grid-template-columns: repeat(2, 1fr);

	column-gap: 30px;
	row-gap: 69px;
}

.grid-project {
	position: relative;

	transition: all 0.3s linear;

	cursor: pointer;

	overflow: hidden;
}

.grid-project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;

	background-color: var(--color-dark-overlay);

	opacity: 0;

	transition:
		transform 0.3s linear,
		opacity 0.3s linear;
}

.grid-project:hover .grid-project-overlay,
.grid-project:active .grid-project-overlay {
	transform: translateY(0);
	opacity: 1;
}
/* End of Projects Section */

/* Footer - Form */
input:focus,
textarea:focus {
	border-color: var(--color-blue-primary);
}
/* Error Messages */
.error-message {
	position: relative;
}

.error-message span {
	position: relative;
	display: inline-block;
	opacity: 0;
}

.error-message.active span {
	transform: translate(0) rotate(0) scale(1);
	opacity: 1;
}
/* End of Error Messages */

/* End ofFooter - Form */

/* Media Query */
@media (max-width: 1150px) {
	header {
		@apply pr-0;
	}

	.header-content {
		@apply max-w-140;
	}

	.header-content p {
		@apply mb-12.5;
	}

	.circle-img {
		@apply -right-16;
	}
}

@media (max-width: 950px) {
	.header-content {
		@apply max-w-91.5;
	}

	.header-content h1 {
		@apply text-[60px] leading-15;
	}

	.ring-img {
		@apply -left-86.25 top-41.5;
	}

	.circle-img {
		@apply -right-16;
	}
}

@media (max-width: 850px) {
	.grid-skills {
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-projects h4 {
		@apply text-xl;
	}

	.grid-projects p {
		@apply text-base;
	}

	footer section {
		@apply flex-col items-center;
	}

	footer section > div:first-child {
		@apply text-center;
	}
}

@media (max-width: 775px) {
	header {
		@apply pl-0;
	}

	.author-img {
		@apply h-137.5 relative top-0;
	}

	.ring-img {
		@apply top-20.75 z-50;
	}

	.circle-img {
		@apply top-104.75;
	}
	.header-wrapper {
		@apply h-[unset] flex flex-col items-center gap-10;
	}

	.header-content {
		@apply top-17 static order-2 text-center;
	}

	.header-menu {
		@apply pl-5;
	}
}

@media (max-width: 675px) {
	main section > img {
		@apply -right-83;
	}

	main h2 {
		@apply text-7xl;
	}

	.grid-skills h3 {
		@apply text-4xl;
	}

	.grid-projects {
		grid-template-columns: 1fr;
	}

	.header-menu {
		@apply pl-5;
	}
}

@media (max-width: 500px) {
	body {
		@apply p-0;
	}

	.ring-img {
		@apply top-31.5 -left-82.5;
	}

	.header-menu {
		@apply h-[unset] flex-col items-center gap-5;
	}

	main section > img {
		@apply -right-58;
	}

	main section:last-child {
		@apply mt-17.5;
	}

	main h2 {
		@apply text-[40px];
	}

	.grid-skills {
		grid-template-columns: 1fr;
		place-items: center;
		row-gap: 25px;

		text-align: center;

		padding-block: 40px;

		border-bottom: 1px solid white;
	}

	footer h2 {
		@apply text-6xl;
	}

	footer p {
		@apply text-base;
	}

	footer img {
		@apply -bottom-16 -left-60;
	}

	.footer-menu {
		@apply flex-col items-center justify-center h-full min-h-20;
	}

	.error-message {
		@apply text-xs;
	}

	.author-logo {
		@apply text-[32px];
	}

	.btn-to-top {
		@apply left-1/2 translate-x-[-50%];
	}
}

@media (max-width: 380px) {
	.ring-img {
		top: 181px;
		left: calc(244px * -1);
	}

	main section > img {
		@apply -right-35 -bottom-11;
	}

	footer img {
		@apply -left-42;
	}
}
/* End of Media Query */
